<div><h2>{{ show.name }}</h2></div>
<div>Rating: {{ show.rating }}</div>
<img src="{{ show.image }}" alt="">
<div>{{{ show.summary }}}</div>
<div><a href="{{ show.official_site }}">Official Website</a></div>
<a href="/">Back</a> 
